/*********General Style************/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*************Responsive Setup****************/
/*Large Screens*/
@media (min-width: 992px){
    .col-lg-1,.col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
        float: left;
    }
    
  /*For each fragment classes, specify width %*/
  .col-lg-1{
    width: 8.33%;
  }
  .col-lg-2{
    width: 16.66%;
  }
  .col-lg-3{
    width: 25%;
  }
  .col-lg-4{
    width: 33.33%;
  }
  .col-lg-5{
    width: 41.66%;
  }
  .col-lg-6{
    width: 50%;
  }
  .col-lg-7{
    width: 58.33%;
  }
  .col-lg-8{
    width: 66.66%;
  }
  .col-lg-9{
    width: 75%;
  }
  .col-lg-10{
    width: 83.33%;
  }
  .col-lg-11{
    width: 91.66%;
  }
  .col-lg-12{
    width: 100%;
  }
}

/*Medium Devices*/
@media (min-width: 768px) and (max-width: 991px){
    .col-lg-1,.col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
        float: left;
    }

  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}
/*************Content Style***********************/
h1{
    font-size: 3em;
    text-align: center;
}

p{
    font-size: 1.25em;
}

.row{
    width: 100%;
}

.box{
    display: inline-block;
}

.box-items{
    background-color: rgba(228, 255, 238, 0.9);
    border: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    width: 95%;
    margin: 5px auto;
}

.box p{
    margin: 5px;
    clear: both;
}

.mini-box{
    float: right;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1px 5px;
    margin-bottom: 5px;
}

.mb1{
    background-color: yellowgreen;
}

.mb2{
    background-color: rgb(248, 237, 81);
}

.mb3{
    background-color: tomato;
}